This notebook is Eissa Qader's entry for Shopify's Summer 2022 Data Science Intern challenge. All answers and work will be shown here along with some analysis.

### Question 1

On Shopify, we have exactly 100 sneaker shops, and each of these shops sells only one model of shoe. We want to do some analysis of the average order value (AOV). When we look at orders data over a 30 day window, we naively calculate an AOV of 3145.13 dollars. Given that we know these shops are selling sneakers, a relatively affordable item, something seems wrong with our analysis. 

A) Think about what could be going wrong with our calculation. Think about a better way to evaluate this data. 
- Right away, I see a large std compared to the mean, which indicates that a few whaling rows are skewing the average order value. To address this, removing the outliers could be used to give a more realistic view of the data for an average user ordering. Removing outliers won't be a large issue because 98.6 per cent of the data will remain, which gives a strong sample size of the 5,000 entries. 98.6 per cent of the data is below 1,000 dollars in value that means 1.4 per cent of the data is the problem here. From searching through the data, it seems that there are buyers requesting over 2000 pairs of 352 dollar shoes, and buyers purchasing 25000 dollar shoes. This is not indicative of an average order statistically, as well as from personal experience of shopping habits. Evidence is below.

B) What metric would you report for this dataset?
- A non-parametric method such as median. A median should be used because it is less influenced by outliers, which is the biggest issue with this dataset.

C) What is its value?
- $284.00, evidence is below

In [1]:
#Import necessary module
import pandas as pd

#Read in the data and explore
df = pd.read_csv('Shopify_Data.csv')
display(df.head)

<bound method NDFrame.head of       order_id  shop_id  user_id  order_amount  total_items payment_method  \
0            1       53      746           224            2           cash
1            2       92      925            90            1           cash
2            3       44      861           144            1           cash
3            4       18      935           156            1    credit_card
4            5       18      883           156            1    credit_card
...        ...      ...      ...           ...          ...            ...
4995      4996       73      993           330            2          debit
4996      4997       48      789           234            2           cash
4997      4998       56      867           351            3           cash
4998      4999       60      825           354            2    credit_card
4999      5000       44      734           288            2          debit

           created_at
0     3/13/2017 12:36
1      3/3/2017 17:38
2      3/14/2017 4:23
3     3/26/2017 12:43
4       3/1/2017 4:35
...               ...
4995  3/30/2017 13:47
4996  3/16/2017 20:36
4997   3/19/2017 5:42
4998  3/16/2017 14:51
4999  3/18/2017 15:48

[5000 rows x 7 columns]>

In [2]:
print(df.describe())
"""
Right away, I see a large std from mean which indicates that a few whaling rows are skewing the average order value.
To address this
"""

print(f'\n\nThe median amount for the orders is {df.order_amount.median()}')

          order_id      shop_id      user_id   order_amount  total_items
count  5000.000000  5000.000000  5000.000000    5000.000000   5000.00000
mean   2500.500000    50.078800   849.092400    3145.128000      8.78720
std    1443.520003    29.006118    87.798982   41282.539349    116.32032
min       1.000000     1.000000   607.000000      90.000000      1.00000
25%    1250.750000    24.000000   775.000000     163.000000      1.00000
50%    2500.500000    50.000000   849.000000     284.000000      2.00000
75%    3750.250000    75.000000   925.000000     390.000000      3.00000
max    5000.000000   100.000000   999.000000  704000.000000   2000.00000


The median amount for the orders is 284.0

In [3]:
print(df[df['order_amount'] > 1000].count()) # Personal experience on too much money for shoes
print(df[df['order_amount'] > 3145].count()) # Testing mean
print(df[df['order_amount'] < 3145].count()) # Testing mean
print(df[df['order_amount'] <= 284].count()) # Testing median

''' 
Proof that 63/5000 of the data points are skewing the mean
as 4937/5000 of the data points lie below the mean
'''

order_id          71
shop_id           71
user_id           71
order_amount      71
total_items       71
payment_method    71
created_at        71
dtype: int64
order_id          63
shop_id           63
user_id           63
order_amount      63
total_items       63
payment_method    63
created_at        63
dtype: int64
order_id          4937
shop_id           4937
user_id           4937
order_amount      4937
total_items       4937
payment_method    4937
created_at        4937
dtype: int64
order_id          2511
shop_id           2511
user_id           2511
order_amount      2511
total_items       2511
payment_method    2511
created_at        2511
dtype: int64

' \nProof that 63/5000 of the data points are skewing the mean\nas 4937/5000 of the data points lie below the mean\n'

### Question 2

For this question youâ€™ll need to use SQL. Follow this link to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

A)How many orders were shipped by Speedy Express in total?
SQL Query:

SELECT COUNT(ShipperName) as NumberOfSpeedyExpressOrders
FROM Shippers AS s
JOIN Orders AS o
ON s.ShipperID = o.ShipperID
WHERE ShipperName = 'Speedy Express'

Answer: 54

B)What is the last name of the employee with the most orders?
SQL Query:

SELECT LastName, COUNT(OrderID) as AmtOfOrders
FROM Employees AS e
JOIN Orders AS o
ON e.EmployeeID = o.EmployeeID
GROUP BY e.EmployeeID
ORDER BY AmtOfOrders DESC
LIMIT 1

Answer: Peacock (40 orders)

C)What product was ordered the most by customers in Germany?
SQL Query:

SELECT ProductName, Sum(Quantity) AS Total
FROM OrderDetails AS od
JOIN Orders as o
ON od.OrderID = o.OrderID
JOIN Products AS p
AS od.ProductID = p.ProductID
JOIN Customers AS c
ON o.CustomerID = c.customerID
WHERE c.Country = 'Germany'
GROUP BY ProductName
ORDER BY Total DESC
LIMIT 1

Answer: Boston Crab Meat (160 quantity)